html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--darkest: #121212;
	--dark: #454545;
	--azure: #007fff;
	--dark-grey: #232323;
	--grey: #eee;
	--white: #fffafa;
	--whitest: #fff;
	--white-smoke: #f5f5f5;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.8;
	color: var(--dark);
}

.container {
	padding: 1rem;
}

.page-map {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
	gap: 1rem;
}

.search {
	margin-bottom: 0.1rem solid var(--black);
}
.search form{
	display: flex;
}

.search input {
	padding: 0.5rem;
	font-size: 1.15rem;
	flex-grow: 10;
}

.card {
	position: relative;
	background-color: var(--whitest);
	border-radius: 4px;
	border: 0.2rem solid var(--grey);
	max-width: 480px;
	box-shadow: 0 0.25rem 0.25rem var(--grey);
	transition: all 0.5s;
	margin-bottom: 1rem;
}

.card:hover {
	border: 0.2rem solid var(--darkest);
}

.card .container {
	padding: 0.5rem 1rem;
}

.card a {
	color: var(--darkest);
	text-decoration: none;
}

.card a:hover {
	text-decoration: underline;
}

.card .row {
	position: relative;
	margin: 0.15rem 0;
	padding: 0.15rem 0;
}

.card .icon {
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.15rem;
}

.card .icon-delivery {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 24px;
}

.card .icon-email {
	margin-left: 0.5rem;
}

.card header > div{
	display: flex;
	justify-content: space-between;
}

.card .title {
	letter-spacing: 0.1px;
	font-size: 1.5rem;
}

.card .content {
	margin-bottom: 0.75rem;
}

.card .row > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.card .tag {
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.1rem;
	background-color: var(--white-smoke);
	display: inline-block;
	font-size: 0.9rem;
	color: var(--darkest);
	font-weight: bolder;
}

.card .tag:before{
	content: "\0023";
}

.card .link {
	font-size: 0.9rem;
}

.card footer {
	border-top: 0.05rem solid var(--dark);
}

.card .icon-menu {
	position: absolute;
	bottom: 0.35rem;
	right: 1rem;
	height: 20px;
}
.card .time {
	margin: 0 0.25rem;
	font-size: 0.9rem;
	color: var(--dark-grey);
}

#map {
	min-height: 600px;
	width: 100%;
	font-size: 3rem;
}

.page-form {}

.form-container {
	width: 35%;
	margin: 0 auto;
}

.form-container .title {
	font-size: 1.6rem;
	text-align: center;
}

.form-container p {
	font-size: 1rem;
}
.form .fieldset {
	border: none;
	margin: 1rem 0;
}

.form  .label {
	display: block;
	font-size: 1.1rem;
	color: var(--dark);
}

.form .input,
.form .select,
.form .textarea{
	padding: 0.5rem;
	width: 100%;
	font-size: 1.1rem;
}

.form .time {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form legend {
	font-size: 0.9rem;
}

.form .time .input {
	width: 100px;
}

.form .checkbox {
	display: flex;
	margin: 2rem 0;
}

.form .checkbox .label {
	margin-right: 0.75rem;
}

.form .checkbox .input {
	width: unset;
}

.form input[type="submit"] {
	background-color: var(--darkest);
	color: var(--white);
	text-align: center;
	width: 50%;
	border-radius: 2px;
	display: block;
	margin: 1rem auto;
	cursor: pointer;
}


.page-card{
	width: 40%;
	margin: 0 auto;
}

.card-large {
	padding: 1rem 2rem;
	position: relative;
	background-color: var(--whitest);
	border-radius: 2px;
	border: 0.2rem solid var(--grey);
	box-shadow: 0 0.5rem 0.5rem var(--grey);
	transition: all 0.5s;
}
.card-large .title {
	font-size: 1.6rem;
	text-align: center;
}

.card-large .row {
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	display: flex;
	align-items: center;
	border-bottom: 0.15rem solid var(--grey);
}

.card-large strong {
	margin-right: 0.75rem;
}

.card-large img {
	height: 16px;
	margin-right: 0.75rem;
}

.card-large p {
	font-size: 1.2rem;
}

.card-large a,
.card-large span {
	color: var(--azure);
	letter-spacing: 0.01rem;
	margin-right: 0.75rem;
}

.card-large .tag{
	background-color: var(--grey);
	padding: 0.25rem 0.75rem;
	border-radius: 0.75rem;
	font-size: 0.9rem;
}

.card-large .tag:before {
	content: "\0023";
}
